---
layout: default-nowrap
quote: 0
---

  <div class="masthead">

    <div class="wrapper">
      <h1>Learn <span class="emph">English</span> with <span class="sr-only">Tournesol</span></h1>
      <div class="svg-home">
         <object>
            <embed src="assets/images/tournesol_large.svg" />
          </object>
      </div><!-- / svg-home-->

      <h2 class="text-following">in North Staffordshire &amp; South Cheshire</h2>

    </div>

  </div>

  <div class="landing clearfix">

      <div class="wrapper wrapper-main">

        <div class="list-home">

          <p class="emph">Tunstall, Crewe, Burslem, Talke, Alsager, Audley, Kidsgrove, Sandbach, Newcastle, Chesterton</p>

          <ul>
            <li>
            All Levels and Needs</li>
            <li>Friendly, qualified and experienced male and female tutors</li>
            <li>One-to-one or group classes</li>
            <li>Times to suit you – daytimes – evenings – weekends</li>
            <li>Prices to suit you – first lesson free! </li>
          </ul>
        </div>
        
      </div>

  </div>

  {% for post in site.posts %}
    {% if page.quote == post.quote %}
    <div class="wrapper-footer wrapper">
      <div class="container">
        <blockquote class="rs">
          {{ post.content }}
          <div class="author">{{ post.title }}</div>
        </blockquote>
       
      </div>
    </div>
   {% endif %}
  {% endfor %}

