---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@font-face {
    font-family: 'gandhi_sans';
    src: url('assets/fonts/gandhisans_regular_macroman/GandhiSans-Regular-webfont.eot');
    src: url('assets/fonts/gandhisans_regular_macroman/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/gandhisans_regular_macroman/GandhiSans-Regular-webfont.woff') format('woff'),
         url('assets/fonts/gandhisans_regular_macroman/GandhiSans-Regular-webfont.ttf') format('truetype'),
         url('assets/fonts/gandhisans_regular_macroman/GandhiSans-Regular-webfont.svg#gandhi_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gandhi_sans';
    src: url('assets/fonts/gandhisans_bold_macroman/GandhiSans-Bold-webfont.eot');
    src: url('assets/fonts/gandhisans_bold_macroman/GandhiSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/gandhisans_bold_macroman/GandhiSans-Bold-webfont.woff') format('woff'),
         url('assets/fonts/gandhisans_bold_macroman/GandhiSans-Bold-webfont.ttf') format('truetype'),
         url('assets/fonts/gandhisans_bold_macroman/GandhiSans-Bold-webfont.svg#gandhi_sansbold') format('svg');
    font-weight: bold;
    font-weight: 300;
    font-style: normal;

}


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


body {
  font-size: 100%;
  font-family: Gill Sans / Gill Sans MT, sans-serif;
  min-width:300px;
}

h1, h2, h3, h4, h5, h6, blockquote {
  font-family: 'gandhi_sans';
}

h1 {
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 10px;
}


h2 {
  font-size: 32px;
  font-size: 2rem;
  margin-bottom: 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.site-nav .page-link {
  font-size: 16px;
  font-size: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.site-title {
  background:url(assets/images/tournesol_small.png) no-repeat 50% 50%;
  background-size: 220px auto;
  width: 228px;
  height: 120px;
  display: block;
}

  .svg {
    .site-title {
      background: url(assets/images/tournesol_small.svg) no-repeat 50% 50%;
      background-size: 220px auto;
    }
  }

.svg-home {
  width: 800px;
  height: 260px;
  margin: 0 auto;

  embed {
    width: 100%;
    height: auto;
  }
}

.list-home {
  max-width: 600px;
  margin: 0 auto;

  p {
    text-align: center;
  }

  .emph {
    font-size: 1.2em;
  }
}

.row {
  width: 100%;

  :after {
    clear:both;
    float: left;
  }

}

@include media-query($on-laptop) {
     .svg-home {
         width: 100%;
         height: auto;
     }
}

.no-svg .svg-home {
  background:url(assets/images/tournesol_large.svg) no-repeat 0 0;
}

.wrapper-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px dotted #BBBBBB;
}

.wrapper-main {
  padding-top: 20px;
}

.site-nav {
  padding: 35px 0;
  padding: 2rem 0;
}

.masthead {
  background:#262C3C;
  color: #FFF;
  text-align: center;

  .emph {
    text-transform: uppercase;
    color: #9F5000;
  }

  h1 {
    font-size: 30px;
    font-size: 3.4rem;
  }

  h2 {
    font-size: 26px;
    font-size: 2.6rem;
  }
}

@include media-query($on-palm) {

  h1 {
    font-size: 32px;
    font-size: 2rem;
  }

  p {
    font-size: 12px;
    font-size: 0.8rem;
  }

  .masthead {
    h1, h2 {
      font-size: 1.3rem;
      margin: 1rem;
      display: inline-block;
    }

    h2 {
      font-size: 0.8rem;
    }
  }

  .site-nav {
    padding: 0;
    right: auto;
    left: 5px;
    top: 52px;
    border: 0;
    border-radius: 0;
    background: none;

    .trigger {
      position: relative;
      top: 25px;
    }

    .menu-icon {
      padding: 0;
      position: absolute;
      z-index: 100;
    }

    .page-link {
      text-align: left;
      color: #FFF;
      background: rgba(32, 32, 32, 0.8);
      display: block;
      width: 200px;
      border-bottom: 1px dotted #FFF;
      margin-left: 10px;
    }

    .page-link:not(:first-child) {
      margin-left: auto;
    }
  }

  .site-title,
  .svg .site-title {
    width: 200px;
    background-size:100% auto;
    margin: 0 auto;
    float: none;
  }
}
